<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Box Sizing || Tailwind CSS</title>
<link rel="stylesheet" href="/public/css/output.css">

</head>
<body>
    <!-- box-border, box-content -->
    <div class="bg-sky-800 size-40 box-border p-7">
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit.</p>
    </div>
    <br>

    <div class="bg-sky-800 size-40 box-content p-7">
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit.</p>
    </div>
</body>
</html>