<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Display || Tailwind CSS</title>
    <link rel="stylesheet" href="/public/css/output.css">
</head>
<body>
    <div class="bg-green-200 p-4 mx-16 space-y-4 mt-[100px]"> 
        <span class="block h-12 bg-green-500 rounded-lg text-center">1</span> 
        <span class="block h-12 bg-green-500 rounded-lg text-center">2</span> 
        <span class="block h-12 bg-green-500 rounded-lg text-center">3</span> 
    </div> 
</body>
</html>